.navbar{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
a {
  color: white;
  text-decoration: none;
  /* background-color: blue; */
}
li{
  list-style-type: none;
  /* display: inline; */
  /* background-color: blue; */
  
}
.outer{
  height: 500px;
  width: 500px;
  background-color: red;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* flex-wrap:wrap ; */
  align-items: center;

}
.inner{
  height: 250px;
  width: 250px;
  background-color: black;
  align-self:flex-end;  /*higher priority*/
}