#box{
  padding: 5px;
  height: 100px;
  width: 100px;
  background-color: crimson;
}
@media screen and (width: 300px){
  #box{
    background-color:darkblue ;
  }
  
}
@media screen and (min-width: 300px){
  #box{
    background-color:rgb(21, 196, 53) ;
    height: 150px;
    width: 150px;
  
  }
  
}
@media screen and (max-width: 300px){
  #box{
    background-color:rgb(193, 216, 43) ;
    height: 150px;
    width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
}